.app {
  min-height: 100vh;
}

body {
  background-color: rgb(233, 229, 229);
  margin: 0px;
}
nav li {
  letter-spacing: 2px;
}

html,
body {
  min-height: 100vh;
}

.title {
  font-weight: bolder;
  letter-spacing: 3px;
  margin: 3rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  overflow: hidden;
  background-image: url("./assets/wood.jpg");
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-field input[type="text"]:focus + label {
  color: rgb(68, 43, 43) !important;
}

.address {
  font-size: 3rem;
  margin-bottom: 100px;
  margin-top: 100px;
}

h1 {
  font-weight: bolder;
}

.social-media {
  margin: 30px;
}

button {
  letter-spacing: 2px;
}

footer {
  margin-top: 4rem;
  padding: 2rem;
}
.footer {
  font-size: 1.5rem;
  margin-top: 2rem;
}
