nav li {
  letter-spacing: 2px;
}

a {
  color: var(--turquoise);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  overflow: hidden;
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
